{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block posts %}
<div class="col-md-7 mt-3 left">
    <a href="/posts/addPost/" class="btn btn-danger btn-block">Add New Post &rarr;</a>
</div>
<div>
<table class="table table-bordered table-hover table-grey" >

	<th>ID</th>
	<th>Title</th>
	<th>Category</th>
	<th>Time</th>
	{% for post in all_posts  %}
	<tr>
		<td>{{post.id}}</td>
		<td>{{post.title}}</td>
		<td>{{post.category_type}}</td>
		<td>{{post.time_created}}</td>
		<td> <a href="/posts/{{post.id}}" class="btn btn-dark"> Show</a></td>
		<td> <a href="/posts/editpost/{{post.id}}" class="btn btn-dark"> Edit</a></td>
		<td> <a href="/posts/delpost/{{post.id}}" class="btn btn-danger"> Delete</a></td>

	</tr>
	{% endfor%}
</table>
</div>
{% endblock %}