{% extends 'base.html' %}

{% block content %}
	<div class="card card-body container">
		<a class="btn btn-danger btn-lg" href="/user/">Users</a>
	</div>

	<div class="card card-body container">
		<a class="btn btn-success btn-lg" href="/posts/list/">Posts</a>
	</div>

	<div class="card card-body container">
		<a class="btn btn-primary btn-lg" href="/posts/catlist/">Categories</a>
	</div>

	<div class="card card-body container">
		<a class="btn btn-secondary btn-lg" href="/adminForbWords/">Forbidden Words</a>
	</div>

	</div>
{% endblock %}